<main>
  <div class="b-example-divider"></div>
  <header class="">
    <div class="container d-flex flex-wrap">
      <div>
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          <img src="../../../assets/Images/pizzaIcon1.png" alt="logo | Web Development" id="logoHub" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="sitename">ePizza Hub</span>
      </div>


    </div>
  </header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/app-home-pizza"
            routerLinkActive="active">Home</a>
          <a class="nav-link" href="#" routerLink="/app-pizza-orders" routerLinkActive="active">My Orders</a>
          <a class="nav-link" href="#" routerLink="/app-contact-us" routerLinkActive="active">Contact Us</a>

        </div>
      </div>
    </div>
  </nav>
  <div class="b-example-divider"></div>
</main>