.app-modal-window.d-block.modal {
  width: 800px !important;
}

.modal-content {
  background-color: aquamarine;
}

.icon-non-veg-india {
  background-image: url(../../../assets/Images/icon-non-veg.svg);
}

.icon-veg-india {
  background-image: url(../../../assets/Images/icon-veg.svg);
}

.icon-non-veg-india,
.icon-veg-india {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  background-size: 20px;
  height: 20px;
  width: 20px;
  background-position: 0 0;
  text-indent: -9999px;
}

.itemlistwrapper {
  display: flex;
}

.item-containerWrapper {
  display: inline-block;
  width: 100%;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

.bg-grey-lightest {
  background-color: #e9ebee;
  padding: 10px;
}

.modalWrapper {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid #f1f1f1;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.itembody {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid #f1f1f1;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.pizzanameWrapper {
  margin: 10px;
}

.modal-footer {
  justify-content: space-between;
}

.quantityWrapper {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 2rem;
}

.bg-green {
  background-color: #0a8020;
  color: #fff;
  padding: 6px;
}

.modal-body {
  background-image: url('../../../assets/Images/pizza-nonveg.jpg');
  background-size: cover;
}

.customiseheader {
  display: flex;
  justify-content: space-between;
}